* {
    margin:0; padding:0;
}
body{
    font-family: arial;
}
header{
    text-align: center;
    padding:20px;
    background: #000000;
    color: #ffffff;
    text-align:left;
    padding-left:150px;
}
nav{
    margin-right: 20px;
    position:fixed;
    top:20px;
    right: 0px;
    text-shadow: 2px 2px black;
    width: 450px;
    height:30px;
}
nav ul li{
    list-style-type:none;
    display: inline-block;
    text-align:center;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display:block;
    width: 70px;
    height: 30px;
  
}
nav ul li:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
}
.wrapper{
    max-width: 100%;
    margin: auto;
}
#introduce{
    display:none;
    width: 75%;
    margin:auto;
    line-height: 50px;
    margin-top: 50px;
    font-size: 25px;
    color: #f9f1ed;
     text-shadow:0px 0px 7px black;
}
button{
   width: 150px;
   height: 40px;
   background: #778c9f00;
   border: 1px solid #0cd0d4;
   color:#0cd0d4;
   border-radius:5px;
   cursor:pointer;
   margin-top: 20px;
}
button:hover{
    background:#0296eb96;
    color: white;
    box-shadow: 0px 0px 2px 1px white;
}
img{
    max-width: 100%;
    margin-bottom: 50px;
}
.About,
.Skills,
.projects,
.contact{
    padding-bottom:50px;
   
    padding: 50px;
}
.About{

    text-align:center;
    background: url("https://cdn.pixabay.com/photo/2016/02/05/04/21/blue-1180364_960_720.jpg") no-repeat;
    background-size:100%;
    height: 650px;
    color: white;
}
.About h3{
    color: #c7e505;
    text-shadow:0px 0px 5px #ffffff4d;
    font-size: 40px;
    margin-top: 50px;
}
.Skills{
 
    background:linear-gradient(#c6bbb2, #ffffff);
    text-align: center;
}
.Skills h3{
    text-transform: uppercase;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
    width: 200px;
    padding: 0.3em;
    border-bottom: 1px solid black;
    margin:0 auto;
}
.Skills img{
    border-radius: 10px;
}
.projects{
    background: linear-gradient(#5308af, gray);
    
}
.projects h3{
    font-size: 20px;
    margin: 0 auto;
    width: 6em;
    padding: 1em;
    border-bottom: 1px solid #ebebeb;
    color: white;
    margin-bottom: 50px;

}
.contact{
    background:url("https://www.krmangalam.edu.in/img/contact/images.png") 100% no-repeat;
    background-color: #c1c1c1;
    height: 600px;
}
.contact-contain{
    font-size: 25px;
    float: right;
    margin-top:300px;
    line-height: 50px;
}
.contact-contain span{
    padding:1em;
}
.slider{
    height: 500px;
    position: relative;
    max-width: 800px;
    margin:0 auto;
}
.slider img{
    left:0;
    position: absolute;
    top:0;
    box-shadow: 0px 0px  5px black;
}
#col-1,
#col-2,
#col-3{
    max-width:25%;
    float:left;
    text-align:center;
    padding: 10px;
    color: #131313;
    line-height: 30px;
    padding: 50px;
}
.group:after{
    content: "";
    display: table;
    clear: both;
}
footer{
    background:#802900;
    color: white;
    text-align:center;
    padding: 30px;
}

@media (max-width:769px){
    header{
        font-size: 14px;
        padding-top: 50px;

    }
    .About{
        background: linear-gradient(#070707,#28c594);
    }
    #introduce{
        font-size: 12px;
        width:100%;
        line-height: 25px;
    }
    .Skills{
        width:100%;
        padding: 0px; 
    }
    .Skills img{
        margin-left: 0px;
    }
    nav ul li {
        width: 50px;
       
    }
    #col-1,
    #col-2,
    #col-3{
        float: none;
        max-width: 100%;
        padding: 20px;
    }
    .box{
        float:none;
       max-width: 80%;
    }
     .contact-contain{
        font-size: 25px;
        float: none;
        margin-top:50px;
        line-height: 50px;
    }
    .wrapper{
        max-width:100%;  
    }
    .contact-contain{
        max-width: 95%;
        padding-top: 100px;
        font-size: 14px;
    }
nav{
    margin-right: 0px;
    position:fixed;
    top:5px;
    text-shadow: 2px 2px black;
    width:100%;
    height:30px;
}
  
}

